.gallery-img {
  width: 100%;
}
.photo-grid-container {
  column-count: 4;
  column-width: 300px;
}
.photo-grid-item {
  margin: 0 auto 15px;
  max-width: 400px;
  width: 100%;
  box-shadow: 3px 5px 10px rgba(128, 128, 128, 0.411);
}
